{
    "swagger": "2.0",
    "info": {
        "title": "FORTNITE REST API",
        "description": "REST API bout Fortnite games to get stats",
        "version": "1.0.0"
    },
    "host": "api.fortnite.lemairepro.fr",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/check": {
            "get": {
                "summary": "Get Fortnite game status",
                "responses": {
                    "200": {
                        "description": "Fortnite is okay !",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "summary": "Get Fortnite News",
                "responses": {
                    "200": {
                        "description": "A JSON objects of current news",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "common": {
                                    "type": "object",
                                    "properties": {
                                        "_type": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "body": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "br": {
                                    "type": "object",
                                    "properties": {
                                        "image": {
                                            "type": "string",
                                            "description": "Image path of this news"
                                        },
                                        "_type": {
                                            "type": "string",
                                            "description": "Type of news"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "body": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "loginmessage": {
                                    "type": "object",
                                    "properties": {
                                        "_type": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "body": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "survivalmessage": {
                                    "type": "object",
                                    "properties": {
                                        "_type": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "body": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{plateform}/{username}": {
            "get": {
                "summary": "Get a user by ID",
                "parameters": [
                    {
                        "name": "plateform",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Playing plateform, can be xb1, ps4 or pc"
                    },
                    {
                        "name": "username",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Player username"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON Object of user",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "ID of player"
                                },
                                "displayName": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found or not found on this plateform",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/{plateform}/{username}": {
            "get": {
                "summary": "Get user's stats",
                "parameters": [
                    {
                        "name": "plateform",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Playing plateform, can be xb1, ps4 or pc"
                    },
                    {
                        "name": "username",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Player username"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON Object of user stats",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "group": {
                                    "type": "object",
                                    "properties": {
                                        "solo": {
                                            "type": "object",
                                            "properties": {
                                                "wins": {
                                                    "type": "integer",
                                                    "description": "Number of top1"
                                                },
                                                "top3": {
                                                    "type": "integer",
                                                    "description": "Number of top3"
                                                },
                                                "top5": {
                                                    "type": "integer",
                                                    "description": "Number of top5"
                                                },
                                                "top6": {
                                                    "type": "integer",
                                                    "description": "Number of top6"
                                                },
                                                "top10": {
                                                    "type": "integer",
                                                    "description": "Number of top10"
                                                },
                                                "top12": {
                                                    "type": "integer",
                                                    "description": "Number of top12"
                                                },
                                                "top25": {
                                                    "type": "integer",
                                                    "description": "Number of top25"
                                                },
                                                "k/d": {
                                                    "type": "number",
                                                    "description": "Ratio Kill/Dead"
                                                },
                                                "win%": {
                                                    "type": "number",
                                                    "description": "Wins ratio"
                                                },
                                                "kills": {
                                                    "type": "integer",
                                                    "description": "Number of kills"
                                                },
                                                "timePlayed": {
                                                    "type": "string",
                                                    "description": "Number of days, hours and minutes played"
                                                },
                                                "killsPerMatch": {
                                                    "type": "string",
                                                    "description": "Number of kill/match"
                                                },
                                                "killsPerMin": {
                                                    "type": "string",
                                                    "description": "Number of kill/minute"
                                                },
                                                "score": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "duo": {
                                            "type": "object",
                                            "properties": {
                                                "wins": {
                                                    "type": "integer",
                                                    "description": "Number of top1"
                                                },
                                                "top3": {
                                                    "type": "integer",
                                                    "description": "Number of top3"
                                                },
                                                "top5": {
                                                    "type": "integer",
                                                    "description": "Number of top5"
                                                },
                                                "top6": {
                                                    "type": "integer",
                                                    "description": "Number of top6"
                                                },
                                                "top10": {
                                                    "type": "integer",
                                                    "description": "Number of top10"
                                                },
                                                "top12": {
                                                    "type": "integer",
                                                    "description": "Number of top12"
                                                },
                                                "top25": {
                                                    "type": "integer",
                                                    "description": "Number of top25"
                                                },
                                                "k/d": {
                                                    "type": "number",
                                                    "description": "Ratio Kill/Dead"
                                                },
                                                "win%": {
                                                    "type": "number",
                                                    "description": "Wins ratio"
                                                },
                                                "kills": {
                                                    "type": "integer",
                                                    "description": "Number of kills"
                                                },
                                                "timePlayed": {
                                                    "type": "string",
                                                    "description": "Number of days, hours and minutes played"
                                                },
                                                "killsPerMatch": {
                                                    "type": "string",
                                                    "description": "Number of kill/match"
                                                },
                                                "killsPerMin": {
                                                    "type": "string",
                                                    "description": "Number of kill/minute"
                                                },
                                                "score": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "squad": {
                                            "type": "object",
                                            "properties": {
                                                "wins": {
                                                    "type": "integer",
                                                    "description": "Number of top1"
                                                },
                                                "top3": {
                                                    "type": "integer",
                                                    "description": "Number of top3"
                                                },
                                                "top5": {
                                                    "type": "integer",
                                                    "description": "Number of top5"
                                                },
                                                "top6": {
                                                    "type": "integer",
                                                    "description": "Number of top6"
                                                },
                                                "top10": {
                                                    "type": "integer",
                                                    "description": "Number of top10"
                                                },
                                                "top12": {
                                                    "type": "integer",
                                                    "description": "Number of top12"
                                                },
                                                "top25": {
                                                    "type": "integer",
                                                    "description": "Number of top25"
                                                },
                                                "k/d": {
                                                    "type": "number",
                                                    "description": "Ratio Kill/Dead"
                                                },
                                                "win%": {
                                                    "type": "number",
                                                    "description": "Wins ratio"
                                                },
                                                "kills": {
                                                    "type": "integer",
                                                    "description": "Number of kills"
                                                },
                                                "timePlayed": {
                                                    "type": "string",
                                                    "description": "Number of days, hours and minutes played"
                                                },
                                                "killsPerMatch": {
                                                    "type": "string",
                                                    "description": "Number of kill/match"
                                                },
                                                "killsPerMin": {
                                                    "type": "string",
                                                    "description": "Number of kill/minute"
                                                },
                                                "score": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    },
                                    "description": "Stats on solo, duo or squad"
                                },
                                "info": {
                                    "type": "object",
                                    "description": "Display user info",
                                    "properties": {
                                        "accountId": {
                                            "type": "integer"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "plateform": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "lifetimeStats": {
                                    "type": "object",
                                    "properties": {
                                        "wins": {
                                            "type": "integer",
                                            "description": "Number of top1"
                                        },
                                        "top3": {
                                            "type": "integer",
                                            "description": "Number of top3"
                                        },
                                        "top5": {
                                            "type": "integer",
                                            "description": "Number of top5"
                                        },
                                        "top6": {
                                            "type": "integer",
                                            "description": "Number of top6"
                                        },
                                        "top10": {
                                            "type": "integer",
                                            "description": "Number of top10"
                                        },
                                        "top12": {
                                            "type": "integer",
                                            "description": "Number of top12"
                                        },
                                        "top25": {
                                            "type": "integer",
                                            "description": "Number of top25"
                                        },
                                        "k/d": {
                                            "type": "number",
                                            "description": "Ratio Kill/Dead"
                                        },
                                        "win%": {
                                            "type": "number",
                                            "description": "Wins ratio"
                                        },
                                        "kills": {
                                            "type": "integer",
                                            "description": "Number of kills"
                                        },
                                        "timePlayed": {
                                            "type": "string",
                                            "description": "Number of days, hours and minutes played"
                                        },
                                        "killsPerMatch": {
                                            "type": "string",
                                            "description": "Number of kill/match"
                                        },
                                        "killsPerMin": {
                                            "type": "string",
                                            "description": "Number of kill/minute"
                                        },
                                        "score": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found or not found on this plateform",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}